$border: (
	"color": (
		"base": $button-default-border-color,
		"primary": $primary-color
	),
	"style": (
		"solid": solid,
		"dashed": dashed,
		"dotted": dotted,
		"double": double,
		"none": none
	)
);
$border-radius: (
	"full": 9999px,
	"10": 10px,
	"20": 20px
);

@for $var from 1 to 6 {
	$border-radius: map.merge(
		$border-radius,
		(
			"#{$var}": #{$var}px
		)
	);
}

$border: map.merge(
	$border,
	(
		"radius": $border-radius
	)
);
$border-width: ();
@for $var from 0 to 7 {
	$border-width: map.merge(
		$border-width,
		(
			"#{$var}": #{$var}px
		)
	);
}

$border: map.merge(
	$border,
	(
		"width": $border-width
	)
);
