$effects: (
	"box-shadow": (
		"shadow": "#{0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2)}",
		"shadow-sm": #{0 0 2px 0 rgb(0 0 0 / 30%)},
		"shadow-md": #{0 2px 6px -1px rgb(0 0 0 / 30%),
		0 2px 4px -1px rgb(0 0 0 / 20%)},
		"shadow-lg": #{0 3px 15px -3px rgb(0 0 0 / 30%),
		0 4px 6px -2px rgb(0 0 0 / 20%)},
		"shadow-xl": #{5px 5px 25px -5px rgb(0 0 0 / 30%),
		0 10px 10px -5px rgb(0 0 0 / 20%)},
		"shadow-2xl": #{10px 10px 40px -8px rgb(0 0 0 / 40%)}
	)
);
$effects-opacity: ();
@for $var from 0 to 11 {
	$effects-opacity: map.merge(
		$effects-opacity,
		(
			"#{$var * 10}": $var*0.1
		)
	);
}

$effects: map.merge(
	$effects,
	(
		"opacity": $effects-opacity
	)
);
